
front/.idea/.name
front/.idea/style3.iml

front/.idea/encodings.xml

front/.idea/misc.xml

front/.idea/modules.xml

front/.idea/workspace.xml

front/bower_components/*

sys/node_modules/*

sys/.idea/jsLibraryMappings.xml

sys/.idea/libraries/sys_node_modules.xml

sys/.idea/sys.iml

sys/.idea/workspace.xml

*.iml

node_modules/*
*.swp
